#buckets-section {
	padding: $space 0 0 0;

	@include media-breakpoint-up(lg) {

		.col-lg-4 {

			.bucket-item {
				margin-bottom: 0;
			}
		}
	}

	@include media-breakpoint-1400 {
		padding: $space-double 0 0 0;
	}

		h2 {
			max-width: 660px;
			text-align: center;
			margin: 30px auto 0 auto;
		}

		.sub-title {
			text-align: center;

			&:after {
				left: 0;
				right: 0;
				margin: auto;
			}
		}

		.row {

			@include media-breakpoint-1400 {
				margin-top: $space;
			}

		}

}

.bucket-item {
	text-align: center;
	margin-bottom: 30px;

	.bucket-image {
		margin-bottom: $space-half;
		display: block;
		height: 250px;
		width: 75%;
		z-index: 1;
		background-position: center;
    background-size: cover;
		@include boxshadow;
	}

	.bucket-content {
		z-index: 2;
		margin-top: -50px;
		background: rgba($ys-green, .8);
		padding: $space $space-half;
		@include boxshadow;
		text-align: left;

		@include media-breakpoint-up(lg) {
			height: 535px;
		}

		@include media-breakpoint-up(xl) {
			height: 490px;
		}

		@include media-breakpoint-1400 {
			height: 440px;
		}

		@include media-breakpoint-1600 {
			height: 415px;
		}

		.btn {

			@include media-breakpoint-up(lg) {
				position: absolute;
				left: 40px;
				bottom: 50px;
			}

		}

		.outer-icon {
			width: 100px;
			display: block;
			background: #fff;
			padding: 7px;
			@include boxshadow;
			margin-top: -$space-double;
			margin-bottom: $space;

			img {
				width: 100%;
				display: block;
			}
		}
	}

	h3 {
		font-size: fontSize(medium);
		margin-bottom: $space-half;
	}
}//.bucket-item
