//cALLBACK FORM STYLES
#callback-form, #newsletter-form {
	display: block;
	text-align: center;
	position: relative;
	padding: $space $space-half;
	background: $ys-green;
	z-index: 2;

	p {
		color: #fff;
		font-weight: 400;
		line-height: 1em;

		a {
			color: $ys-blue;
			text-decoration: none;

			&:hover {
				color: $ys-red;
			}
		}
	}

	.sub-title {
		color: $ys-blue;
		font-weight: 600;
		&:after {
			background: #fff;
			margin: auto;
			right: 0;
		}
	}

	div.wpcf7 {
		max-width: none;


		.form-row {
			margin: 0 0 $space-half;


			&>label {
				text-transform: uppercase;
				font-weight: 600;

				input {
					height: 55px;
					border-radius: 0;
				}

				@include media-breakpoint-up(md) {
					width: 33.33333%;
					padding: 0 $space-half 0 0;

				}

				&.ajax-loader {
					position: absolute;
					right: 0;
					width: $space-half;
					top: $space-half;
				}
			}
		}//.form-row

		.wpcf7-list-item {
			display: block;
		}
	}//div.wpcf7
}//#Callback-form

//#Contact Form
#contact-form {

	p {
		color: $ys-blue;

		a {
			color:#fff;
			text-decoration: none;

			&:hover {
				color: $ys-red;
			}
		}
	}

	div.wpcf7 {
		max-width: none;


		.form-row {
			margin: 0 0 $space-half;


			&>label {
				text-transform: uppercase;
				font-weight: 600;

				input {
					height: 55px;
					border-radius: 0;
				}

				@include media-breakpoint-up(md) {
					width: 49%;
					margin-right: 2%;

					&:last-of-type {
						margin-right: 0;
					}

					&.full-width {
						width: 100%;
						padding: 0;
					}

				}

				&.ajax-loader {
					position: absolute;
					right: 0;
					width: $space-half;
					top: $space-half;
				}
			}
		}//.form-row

		.wpcf7-list-item {
			display: block;
		}
	}//div.wpcf7
	.checkbox{
		border-color: colour(primary);
	}
}

//DEFAULT FORM STYLES
div.wpcf7 {
	margin: 0 auto;
	margin-top: $space;

	p {
		color: #fff;
    font-weight: 400;
    margin-top: 5px;
    line-height: 1em;

	}

	// all inputs except radios and checkboxes inherit from form-control
	input[type=text], input[type=search], input[type=url], input[type=tel],
	input[type=number], input[type=range], input[type=date], input[type=month],
	input[type=week], input[type=time], input[type=datetime], input[type=datetime-local],
	input[type=color], input[type=email], input[type=file], input[type=submit], select,
	textarea {
		@extend .form-control;
	}

	input, textarea {
		//Invalid input
		&.wpcf7-not-valid {
			border-color: theme-color("danger");
		}

		//Submit button
		&[type=submit], &:disabled[type=submit], &:focus[type=submit] {
			//Extend bootstrap .btn class
			@extend .btn;
			color: $ys-blue;
			background: rgba($white, .1);
			border: 1px solid $white;
			width: 200px;
			height: 45px;
			margin-top: $space;
		}
	}


	.form-row {
		flex-direction: row;
		margin: 0 -7.5px $space-half;

		span {
			width: 50%;
		}
	}

	@include media-breakpoint-down(sm) {
		.form-row {
			flex-direction: column;
			margin: 0 0 15px;

			&>span, &>input {
				width: 100%;
				padding: 0;

				&:not(:last-of-type) {
					margin: 0 0 $space-half;
				}
			}
		}
	}//<768px

	span {
		&.wpcf7-list-item {
			margin: 10px 0 0 0;

			.fakebox {
				max-width: 640px;
				margin: 0 auto;
			}
		}

		&.wpcf7-not-valid-tip {
			display: none;
		}
	}

	//Response
	div.wpcf7-response-output {
		margin: 10px 0 0;
		text-align: center;
		border: none;
		padding: $space-half;
		background: theme-color("warning");

		&.wpcf7-validation-errors {
			background: theme-color("danger");
			color: colour(white);
		}//.wpcf7wpcf7-validation-errors

		&.wpcf7-mail-sent-ok {
			background: theme-color("success");
			color: colour(white);
		}//.wpcf7-mail-sent-ok
	}//.wpcf7wpcf7-response-output
}//div.wpcf7
