#homepage {
	.page-section {
		&.text-image {
			.row {
				@include media-breakpoint-up(md) {
						flex-direction: row;
				}
			}
			.text-column {
				background: rgba($white,.8);

				.sub-title {
					&:after {
						background: $ys-green;
					}
				}

				@include media-breakpoint-up(md) {
						width: 130%;
						margin-left: -30%;
						margin-right: 0;
				}

				@include media-breakpoint-1400 {
						margin-left: -30%;
						margin-right: 0;
				}
			}
		}
	}
}

.page-section {
	padding: $space 0;

	.sub-title {
		font-weight: 600;
	}

	@include media-breakpoint-1400 {
		padding: $space-double 0;
	}

	p {
		font-weight: 400;
	}

	//Accordion content
	&.accordion-section {
		.card {
			&:not(:last-of-type) {
				margin: 0 0 $space-half;
			}

			.card-header {
				padding: 0;
				background: colour(primary);

				button {
					width: 100%;
					text-align: left;
					padding: $space-half $space;
					color: colour(white);
					position: relative;
					white-space: initial;

					&:hover, &:focus {
						text-decoration: none;
					}

					&::after {
						position: absolute;
						font-family: "Font Awesome 5 Pro";
						font-weight: 900;
						content: "\f056";
						right: $space-half;
						top: $space-half;
					}

					&.collapsed::after {
						content: "\f055";
					}
				}
			}//.card-header

			.card-body {
				&> *:last-child {
					margin-bottom: 0;
				}
			}//.card-body
		}
	}



	//Column
	&.columns {
		text-align: center;

		.sub-title {
			&:after {
				margin: auto;
				right: 0;
			}
		}
	}



	//Text & image
	&.text-image {

		.row {

			@include media-breakpoint-up(md) {
					flex-direction: row-reverse;
			}

		}

		.col-md-6 {
			padding: 0;
		}

		.text-column {
			padding: $space $space-half;
			background: rgba($ys-green,.8);
  		z-index: 2;
			font-weight: 500;
  		@include boxshadow;

			h1 {
				max-width: 500px;
			}

			.sub-title {
				&:after {
					background: #fff;
				}
			}

			@include media-breakpoint-up(md) {
					margin: $space 0;
					width: 130%;
					margin-right: -30%;
			}

			@include media-breakpoint-1400 {
					margin: $space-double 0;
					padding: $space-double $space;
					margin-right: -30%;
			}

			&> *:last-child {
				margin-bottom: 0;
			}
		}

		.image-column {
			display: block;
			height: 250px;
			background-position: center;
			background-size: cover;
				@include media-breakpoint-up(md) {
					height: 100%;

				}
		}
	}



	//Two thirds
	&.two-thirds {}



}//.page-section
