#wrapper-footer {
	clear: both;
	width: 100%;
	padding-top: $space;
	&[class*="band"]{
		padding-bottom: 0;	/* If #wrapper-footer has any band class on it, the padding bottom may be a little too much */
	}
}//#wrapper-footer

footer {
	padding-bottom: 20px;

	.details {
		margin-top: $space;

		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
	}

	.social {
		margin-top: $space;

		p {
			font-size: 1.3em;

			a {
				margin-right: 10px;
				text-decoration: none;
				transition: .5s;
				color: rgba($ys-blue, .7);

				&:last-of-type {
					margin-right: 0;
				}

				&:hover {
					color: $ys-blue;
				}
			}
		}
	}
	.phone, .address, .email {
		position: relative;
		padding-left: 40px;
		font-weight: 600;
		line-height: 2em;

		a {
			color: $ys-blue;
			text-decoration: none;
			transition: .5s;

			&:hover {
				color: $ys-green;
			}
		}
		&:before{
      font-family: 'Font Awesome 5 Pro';
      display: block;
			width: 30px;
			height: 30px;
			font-weight: 900;
      position: absolute;
			padding: 0 9px;
      left: 0;
      top: 0;
			color: #fff;
			font-size: .7em;
			background: $ys-blue;
    }
	}

	.phone {
		&:before{
      content: "\f095";
    }
	}

	.address {
		&:before{
      content: "\f015";
    }
	}

	.email {
		&:before{
      content: "\f0e0";
    }
	}
}

#yardstick-logo {
	font-family: 'Libre Baskerville';
	font-size: 11px;
	text-transform: uppercase;


	a {
		text-decoration: none;
		color: inherit;

		img {
			height: 25px;
			background: $ys-blue;
			margin: 0 2px;
		}
	}
}//#yardstick-logo
