header{
	width: 100%;
	z-index: 10;
	transition: .3s;

	@include media-breakpoint-up(lg) {
		height: auto;
		background: #fff;
		position: fixed;
	}

}

.outer-top-header {
	width: 100%;
	@include boxshadow;
	display: none;
	float: left;

	@include media-breakpoint-up(lg) {
		display: block;
	}
}

.outer-header {
	display: inline-block;
	float: right;
}

.top-right {
	margin: 0;
	width: auto;
	float: right;
	color: #fff;
	text-align: right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.tile {
		background: $ys-red;
		text-align: center;
		width: 60px;
		color: #fff;
		float: right;
		border-radius: 0 0 2px 2px;
		margin-right: 5px;
		transition: .5s;

		&:last-of-type {
			margin-right: 0;
		}

		&.blue {
			background: $ys-blue;
		}

		&.green {
			background: $ys-green;
		}

		&:hover {
			@include boxshadow;
		}

		a{
			color: #fff;
			display: block;
			transition: .5s;
			padding: 15px 10px;
		}
	}
}

.desktop-logo {
	display: none;
	width: 100%;
	overflow: hidden;
	padding: $space-half;
	max-width: 130px;
	transition: .3s;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;

	img{
		display: block;
		width: 100%;
	}

	&:hover {
			opacity: 0.8;
	}

	@include media-breakpoint-up(lg) {
		position: relative;
		display: block;
		float: left;
	}
}

.outer-nav {
	display: block;
	width: 100%;
}


.desktop-nav {
	display: none;

	@include media-breakpoint-up(lg) {
		display: block;
	}

}

ul.desktop-menu {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 100%;
	padding-right: 10px;

	> li{
		margin-left: $space-half;

		@include media-breakpoint-1400 {
			margin-left: $space;;
		}

		&:first-child{
			margin-left: 0;
		}
	}


	li {
		display: block;
		transition: .3s;
		position: relative;
		margin-bottom: 0;
		padding: $space-half 0;

		@include media-breakpoint-up(lg) {
			&:hover {
				.dropdown-menu {
					display: block;
				}
			}
		}

		a {
			padding: 5px 0;
			line-height: 1em;
			font-size: .8em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			font-family: $body-font;
			color: colour(primary);
			transition: .3s;
			position: relative;

			&:hover {
				color: colour(secondary);
			}
		}

		&.current-menu-item, &.current-page-parent {
			a {
				color: $ys-green;
			}
		}

		.dropdown-menu {

			li {
				padding: 20px 0;
				border-bottom: 1px solid rgba($ys-green, .2);

				&.current-menu-item, &.current-page-parent {
					a {
						color: $ys-green;
					}
				}

				a {
					color: $ys-blue;
					text-decoration: none;

					&:hover {
						color: $ys-green;
					}
				}
			}

			@include media-breakpoint-up(lg) {
				position: absolute;
				border: none;
				margin: 0;
				background: #fff;
				padding: 0 $space-half;
				left: 0;
				border-radius: 0;
				width: 442px;
				border-top: 2px solid colour(secondary);
				@include boxshadow;
			}
		}
	}//li
}//#main-menu
