.hero {
	position: relative;
	clear: both;
	@include default-background-image;

	.container-fluid {
		height: auto;

		@include media-breakpoint-up(md) {
			height: 100%;

			.inner-hero {
				display: flex;
				flex-direction:row;
				flex-wrap: nowrap;
			}
		}

	}

	.hero-image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
		height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    z-index: 1;

		@include media-breakpoint-up(md) {
			position: relative;
			height: auto;
			float: right;
			width: 125%;
			margin-left: -25%;
			margin-bottom: $space-half;
		}

		@include media-breakpoint-1400{
			margin-bottom: $space;
		}
	}

	.caption {
		text-align: left;
		position: relative;
		overflow: hidden;
		left: 0;
		bottom: 0;
		padding: $space $space $space $space-half;
		background: rgba($white,.8);
		z-index: 2;
		@include boxshadow;

		@include media-breakpoint-up(md) {
			position: relative;
			float: left;
			width: 65%;
			margin: $space $space-half 0 0;
		}

		@include media-breakpoint-1400{
			padding: $space-double $space $space-double $space;
			margin: $space-double $space 0 0;
		}

		.heading {
			font-size: 2.2em;
			margin-top: 25px;

			@include media-breakpoint-up(lg) {
				font-size: 2.8em;
			}

			@include media-breakpoint-1400{
				font-size: 3.3em;
			}
		}

		.btn {
			margin-top: $space-half;
		}
	}

}
