#homepage-slider-section {
	position: relative;
	clear: both;


	//static-caption
	#static-caption {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}//#static-caption

	//Caption styling
	.container {
		position: relative;

		.caption {
			text-align: center;

			h1,h2 {
				color: #fff;
			}
		}
	}//.container

	//background images
	#homepage-slider, .slider-item {
		min-height: 450px;
		@include default-background-image;
	}
	.slider-item{
		display: inline-flex !important; /* Flexed slider items make for better slider items... shame Slick doesn't seem to think the same */
		align-items: center;
	}
	//.slider-item

	//Remove conntrols for static
	&.static {
		button.slick-arrow, ul.slick-dots {
			display: none !important;
		}
	}//&.static

	//Arrows
	button.slick-arrow {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		background: none;
		border: none;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s ease;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}

		i {
			font-size: fontSize(large);
			color: colour(white);
		}

		&.prev {left: 60px;}
		&.next {right: 60px;}
	}//button.slick-arrow

	//Dots
	ul.slick-dots {
		position: absolute;
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		top: 90%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;

		li {
			position: relative;
			opacity: .5;
			margin: 0 5px;

			&.slick-active, &:hover {
				opacity: 1;
			}

			button {
				width: 10px;
				height: 10px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: none;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 15px;
					height: 15px;
					background: colour(white);
					border-radius: 100%;
				}
			}
		}
	}//.slick-dots
}//#homepage-slider-section
