#wrapper-navbar {
	//Wrapper for Menu button
	#mobile-menu-wrapper {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}//#mobile-menu-wrapper
}//#wrapper-navbar

.mobile-top-bar {
		top: 0;
		background: #fff;
		left: 0;
		width: 100%;
		z-index: 100;

		.inner-top {
			display: flex;
			justify-content:space-between;
			width: 100%;
			height: 65px;
			position: fixed;
			z-index: 11;
		}

		a {
			flex-direction: row;
			flex-wrap: nowrap;
			color: #fff;
			background: colour(primary);
			width: 33.33333%;
			transition: .3s;

			&:hover {
				background: colour(secondary);
			}

			@include media-breakpoint-up(sm) {
				width: 75px;
			}
		}

		.outer-logo {
			display: block;
			padding: $space-half 0;
			width: 100%;
			position: relative;
			z-index: 10;

			@include media-breakpoint-down(sm) {
				padding-top: 65px;
			}

			.logo {
				width: 100%;
				max-width: 150px;
				margin: 0 auto;
				display: block;
				background: none;

				img {
					width: 100%;
				}
			}
		}

		.outer-contact-details {
			flex-direction: row;
			display: flex;
			flex-wrap: nowrap;
			width: 66.66666%;
			border-left: 1px solid #fff;

			a {
				width: 50%;
				flex-wrap: nowrap;
				text-decoration: none;
				font-size: fontSize(body);
				text-align: center;
				border-right: 1px solid #fff;
				padding: 20px 0;

				&:last-of-type {
					border-right: none;
				}

			}

			@include media-breakpoint-up(sm) {
					width: 170px;
			}

		}

		@include media-breakpoint-up(lg) {
					display: none;
		}

}

//Mobile menu toggles
.menu-toggle, .menu-toggle:focus, .menu-toggle:hover  {
	padding: $space-half 20px;
	background: colour(secondary);
	font-size: fontSize(body);
	color: colour(white);
	border-radius: 100%;
	display: inline-block;
	border-radius: 0;
	text-decoration: none;
	text-align: center;

	#mobile-menu & {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		color: colour(white);

		i {
			margin: 0;
		}
	}
}//.menu-toggle

#mobile-menu {
	//Background
	#navbarNavDropdown, .mm-navbar, #main-menu-mobile, .mm-panel {
		background: colour(primary);
	}

	//Navigation background
	ul li {
		//focus
		&.mm-listitem_selected a {
			background: rgba(8, 8, 8, 0.33);
		}
		//active
		&.active, &.active.mm-listitem_selected {
			background: colour(secondary);
		}
	}

	//Color
	.mm-navbar, ul li a  {
		color: colour(white);
	}//color

	//border-color
	.mm-navbar, ul li {
		border-color: rgba(255, 255, 255, 0.1);
	}
	//Arrow colours
	.mm-btn {
		&.mm-listitem__btn {
			tap-highlight-color: rgba(8, 8, 8, 0.33);
			-webkit-tap-highlight-color: rgba(8, 8, 8, 0.33);
		}

		&::before, &::after {
			border-color: colour(white);
		}
	}//Border colour

}//#mobile-menu

//MEDIA QUERIES
//<768px
@include media-breakpoint-down(lg) {
	#wrapper-navbar {
		nav {
			.container {
				.row {
					#navbarNavDropdown {
						#main-menu {
							display: none;
						}
					}//#navbarNavDropdown
				}//.row
			}//.container
		}//nav

		//Display mobile menu toggle
		#mobile-menu-wrapper {
			display: block;
			//Hide menu before jquery loads
			#mobile-menu {
				display: none;
			}
		}//#mobile-menu-wrapper
	}//#wrapper-navbar

	nav#mobile-menu {
		ul {
			li {
				a {
					padding: $space-half $space;
					font-weight: 500;
					font-size: fontSize(small);

					&.dropdown-toggle::after {
						display: none;
					}
				}//a

				&:after {
					left: 0;
				}
			}//li

			&.dropdown-menu {
				position: static;
				background: 0;
				border: none;
				float: none;
			}
		}//ul
	}//nav#mobile-menu
}//<768px
