.portfolio-section {
  padding: $space $space-half;
  display: block;
  width: 100%;
  text-align: center;

  @include media-breakpoint-1400 {
    padding: $space-double $space-half;
  }

  .btn {
    margin-top: $space;
  }

  button.slick-arrow {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
    opacity: 0.5;
    padding: 0;

    &:hover {
      opacity: 1;
    }

    i {
      font-size: 22px;
      color: $ys-blue;
      font-weight: 900;
    }

    &.prev {left: 5px;}
    &.next {right: 5px;}
  }//button.slick-arrow

  .sub-title {
    &:after {
      margin: auto;
      right: 0;
    }
  }

  .portfolio-item {

    .item-images {
      margin-top: $space;

      .image-list {
        width: 100%;
        padding: 0;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        padding: 20px 10px;

        li {
          width: 49%;
          margin-right: 2%;
          float: left;
          list-style: none;
          @include boxshadow;

          &:nth-of-type(2n) {
            margin-right: 0;
          }

          @include media-breakpoint-up(md) {
            width: 24.25%;
            margin-right: 1%;

            &:nth-of-type(2n) {
              margin-right: 1%;
            }

            &:nth-of-type(4n) {
              margin-right: 0;
            }

          }
        }

      }

    }

    .client-logo {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
    }
  }
}

.client-images {
  width: 100%;
  padding-bottom: $space;
  display: block;
  overflow: hidden;

  ul {
    list-style: none;
    padding: 0;

    li {
      width: 49%;
      margin-right: 2%;
      @include boxshadow;
      float: left;

      img {
        display: block;
        width: 100%;
      }

      &:nth-of-type(2n) {
        margin-right: 0;
      }

      @include media-breakpoint-up(md) {
        width: 31.33333%;

        &:nth-of-type(2n) {
          margin-right: 2%;
        }

        &:nth-of-type(3n) {
          margin-right: 0;
        }

      }

      @include media-breakpoint-1400 {
        width: 23%;

        &:nth-of-type(3n) {
          margin-right: 2%;
        }

        &:nth-of-type(4n) {
          margin-right: 0;
        }

      }
    }
  }
}

.page-section {

  &.portfolio {

    .col-md-6 {
      padding: 0;
    }

    .row {
      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;

      }
    }

    .column-one {
      padding: $space $space-half;
      display: block;
      z-index: 2;
      font-weight: 500;
      @include boxshadow;

      .client-aside {
        padding: $space 0;
        border-bottom: 1px solid rgba($ys-blue, .2);

        .sub-title {
          margin-bottom: $space-half;
        }

        img {
          max-width: 320px;
          width: 100%;
        }

        &:first-of-type {
          padding: 0 0 $space 0;

          p {

            span {
              font-weight: 600;
              font-size: .9em;
            }
          }
        }

        &:last-of-type {
          padding: $space 0 0 0;
          border-bottom: none;
        }

        .outer-colours {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          overflow: hidden;
          max-width: 450px;

          .outer-block {
            width: 32.3%;
            margin-right: 1%;

            .title {
              font-size: .7em;
              text-transform: uppercase;
              font-weight: 600;
              line-height: 1.1em;
            }
          }

          .colour-block {
            height: 130px;
            padding: $space-half;
            position: relative;
            margin-top: 5px;
            border: 1px solid rgba($ys-blue, .2);

            &:last-of-type {
              margin-right: 0;
            }

            p {
              color: $ys-green;
              width: 100%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }


      @include media-breakpoint-up(md) {
        padding: $space $space-half $space 35%;
        background: rgba($ys-blue, .02);
        @include boxshadow;
        height: 100%;

      }
      @include media-breakpoint-1400 {
          padding: $space-double $space $space-double 35%;
      }

    }

    .column-two {
      display: block;
      height: auto;

      .inner-two {
        padding: $space $space-half;
        background: rgba($ys-green,.8);

        @include media-breakpoint-up(md) {
            margin: $space 0;
        }

        @include media-breakpoint-1400 {
            margin: $space-double 0;
            padding: $space-double $space;
        }

      }

      h1 {
        max-width: 600px;
      }

      .sub-title {
        &:after {
          background: #fff;
        }
      }

        @include media-breakpoint-up(md) {
            height: 100%;
            width: 130%;
            margin-right: -30%;
        }

        @include media-breakpoint-1400 {
            margin-right: -30%;
        }
    }

  }

}
