.services {
  background-color: rgba($ys-green, .8);
  width: 100%;
  padding: $space $space-half;
  margin-top: $space;
  text-align: center;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 2;

  @include media-breakpoint-1400 {
    margin-top: $space-double;
  }

  .sub-title {
    &:after {
      margin: auto;
      right: 0;
      background: #fff;
    }
  }

    ul {
      list-style: none;
      padding: 0;
      display: block;
      clear: both;
      z-index: 3;

      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

      }

      li {
        display: block;
        width: 100%;
        padding: $space $space-half;
        position: relative;
        transition: .8s;

      	@include media-breakpoint-up(md) {
          width: 33.333333%;
          float: left;

        }

        @include media-breakpoint-up(xl) {
          width: 20%;
          float: left;

        }

        &:hover {
          background: rgba($white, .1);
          @include boxshadow;
        }


        a {
          color: $ys-blue;
          text-decoration: none;

        }

        .outer-text {
          display: block;
          margin-top: $space-half;

          h4 {
            font-size: 18px;
          }

          p {
            margin-top: 5px;
            font-weight: 400;
            color: #fff;
            font-size: 14px;
          }
        }

        .outer-image {
          display: block;
          margin: 0 auto;
          width: 60px;
          overflow: hidden;
          background: #fff;
          padding: 7px;
          @include boxshadow;

          img {
             display: block;
             width: 100%;
          }
        }
      }
    }

}
