.tabbed-section {
  width: 100%;
  clear: both;
  padding-bottom: $space;

  @include media-breakpoint-1400 {
      padding-bottom: $space-double;
  }

  .col-md-6 {
    padding: 0;
  }

  .content-section {
    padding: $space $space-half;
    background: rgba($ys-green, .8);

    @include media-breakpoint-up(md) {
        margin: $space 0 $space -25%;
        padding: $space-double $space;
        width: 125%;
    }

    @include media-breakpoint-1400 {
      margin: $space-double 0 $space-double -20%;
      width: 120%;
    }

    .sub-title {
      &:after {
        background: #fff;
      }
    }
  }

  .main-section {
    padding: $space $space-half;
    float: left;
    width: 100%;
    background: rgba($ys-blue, .02);
    @include boxshadow;
    height: 100%;

    @include media-breakpoint-up(md) {
        padding: $space 30% $space $space-half;
    }

    @include media-breakpoint-1400 {
        padding: $space-double 25% $space-double $space;
    }

    .tab {
      float: left;
    }

    .outer-tab {
      margin-top: $space-half;
      display: block;
      float: left;
      max-width: 320px;

      @include media-breakpoint-1400 {
          margin-top: $space;
      }
    }
  }

  .tablinks {
    width: 30%;
    display: inline-block;
    margin: 0 5% 5% 0;
    float: left;
    padding: 7px;
    background: #fff;
    @include boxshadow;

    &:nth-of-type(3n) {
      margin: 0 0 5% 0;
    }

    @include media-breakpoint-up(md) {
      width: 21.25%;

      &:nth-of-type(3n) {
        margin: 0 5% 5% 0;
      }

      &:nth-of-type(4n) {
        margin: 0 0 5% 0;
      }
    }

  }
}
