.page-section {

	&.team-member {

		.col-md-6 {
			padding: 0;
		}

		.column-one {
			padding: $space $space-half;
			display: block;
			z-index: 2;
			font-weight: 500;
			@include boxshadow;


			@include media-breakpoint-up(md) {
				padding: $space 35% $space $space-half;
				background: rgba($ys-blue, .02);
				@include boxshadow;
				height: 100%;

			}
			@include media-breakpoint-1400 {
					padding: $space-double 35% $space-double $space;
			}

		}

		.column-two {
			display: block;
			height: auto;

			.inner-two {
				padding: $space $space-half;
				background: rgba($ys-green,.8);

				@include media-breakpoint-up(md) {
						margin: $space 0;
				}

				@include media-breakpoint-1400 {
						margin: $space-double 0;
						padding: $space-double $space;
				}

			.spotlight {

				.inner-spotlight {
					margin-top: 30px;
					p {
						margin-top: 10px;
					}
				}

			}

			}

			h1 {
				max-width: 500px;
			}

			.sub-title {
				&:after {
					background: #fff;
				}
			}

				@include media-breakpoint-up(md) {
						height: 100%;
						width: 130%;
						margin-left: -30%;
				}

				@include media-breakpoint-1400 {
						margin-left: -30%;
				}
		}

	}
}


#portfolio {

	#team-members {

		.outer-buttons {
			margin-bottom: $space;

			.btn {

				&.active {
					border: 1px solid $ys-blue;
					background: none;
					color: $ys-red;
				}
			}
		}

		.port-column {
			display: none;

			&.show {
				display: block;
			}
		}
	}
}



.about-team {
	padding: $space 0;
	text-align: center;

	.col-sm-6 {
		margin-bottom: $space;
	}

	.team-member-wrapper {
		height: 100%;
	}

	h1 {
		margin-bottom: $space;
	}

	@include media-breakpoint-1400 {
      padding: $space-double 0;
  }


	.team-member-image{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.team-member-content {
		padding-top: 200px;
		height: 100%;


		.inner-content {
			text-align: center;
			background: rgba($ys-blue, .02);
			@include boxshadow;
			padding: $space-double $space-half $space $space-half;
			transition: .5s;
			height: 100%;
		}

		&:hover {

			.inner-content {
				-webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
				-moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
				box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
			}

		}

		a {
			text-decoration: none;
			color: $ys-blue;

			.btn {
				margin-top: $space-half;
			}
		}
	}

	h3 {
		text-align: center;
	}

	.sub-title {
		text-align: center;
		&:after {
			right: 0;
			margin: auto;
		}
	}
}

.team-member-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.team-member-link{
		width: 100%;

		@include media-breakpoint-up(lg){
			max-width: 49%;
		}

		a{
			margin: $space-half 0;
			padding: $space $space-double;
			display: block;
			color: colour(secondary);
			box-shadow: 3px 3px 7px -4px rgba(0,0,0,0.75);
			transition: 0.2s ease-in-out;

			&:hover{
				text-decoration: none;
				background: colour(secondary);
				color: colour(white);
			}
		}
	}
}

.team-member-image{
	max-width: 250px;
	width: 100%;
	display: block;
	@include boxshadow;
	border-radius: 2px;
	margin: $space 0;
}

.spotlight-slider{
	margin-bottom: 50px;
	position: relative;

	.slick-arrow{
		border: none;
		background: colour(white);
		height: 50px;
		position: absolute;
		width: 50%;
		text-align: center;
		border-top: 2px solid colour(primary);
		bottom: -50px;
		border-radius: 0;
		cursor: pointer;

		&:hover{
			color: colour(white);
			background: colour(primary);
		}

		&.prev{
			left: 0;
			border-right: 1px solid colour(primary);
		}
		&.next{
			right: 0;
			border-left: 1px solid colour(primary);
		}
	}
}
