#services {
	#testimonial-section {
		padding: $space 0 $space 0;

		@include media-breakpoint-1400 {
				padding: $space-double 0 $space-double 0;
		}

	}
}



#testimonial-section {
	text-align: center;
	padding: 0;

	.col-md-6 {
		padding: 0;
	}
}

.testimonial-aside {

	@include media-breakpoint-up(md) {
		text-align: left;
		height: 100%;
		@include boxshadow;
		background: rgba($ys-blue, .02);
		position: relative;

		.inner-aside {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: $space-half;
			padding: $space 45% $space $space-half;
		}
	}
	.sub-title {
		&:after {
			left: 0;
			right: 0;
			margin: auto;
			float: none;

			@include media-breakpoint-up(md) {
				float: left;
				margin: 0;
			}
		}
	}
}

#testimonial-slider {
	position: relative;

	@include media-breakpoint-up(md) {
		width: 145%;
		height: 100%;
		padding: 0;
		margin: 0 0 0 -45%;

	}

	button.slick-arrow {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
		bottom: 0;
		// transform: translateY(-50%);
		transition: 0.3s ease;
		opacity: 0.5;
		z-index: 1;

		@include media-breakpoint-up(md) {
			bottom: 0;
		}

		&:hover {
			opacity: 1;
		}

		i {
			font-size: fontSize(medium);
			color: $ys-blue;
		}

		&.prev {
			left: 10px;

			@include media-breakpoint-up(md) {
				left: 33%;
			}
		}

		&.next {
			right: 10px;

			@include media-breakpoint-up(md) {
					right: $space-half;
			}
		}
	}//button.slick-arrow


	.slick-dots{
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.slick-list {
		padding: $space 0;

		@include media-breakpoint-1400 {
				padding: $space-double 0;
		}

	}

	.testimonial-item {
		padding: 0 $space-half;
		position: relative;

		.testimonial-quote {
			text-align: left;
			background: rgba($ys-green, .8);
			padding: $space $space-half;
			@include boxshadow;
			z-index: 2;

			@include media-breakpoint-up(md) {
					width: 70%;
					padding: $space-double $space;
					float: left;
			}

			@include media-breakpoint-up(xl) {
					width: 75%;
			}
		}

		.testimonial-client {
			@include boxshadow;
			padding: $space $space-half $space-half $space-half;
			width: 90%;
			max-width: 320px;
			margin: -$space-half auto 0 auto;
			z-index: -1;

			@include media-breakpoint-up(md) {
					width: 100%;
					max-width: 30%;
					margin: 0;
					position: absolute;
					transform: translateY(-50%);
					right: 20px;
					top: 50%;
					padding: $space $space-half $space-half 5%;
			}

			@include media-breakpoint-up(xl) {
					max-width: 35%;
					padding: $space $space-half $space-half 15%;
			}
		}

		.author {
			text-transform: uppercase;
			font-weight: 600;
		}

		.job, .client-since {
			font-weight: 500;
			font-size: .8em;
			margin-top: 2px;
		}

		.quote {
			font-style: italic;
		}

		@include media-breakpoint-up(md) {

			.author {
				text-align: left;
			}

			.job, .client-since {
				text-align: left;
			}

		}
	}

	//Slider dots
	ul.slick-dots {
		@include default-slick-dots;
	}
}
