.why-choose {
  padding: 0 0 $space 0;
  text-align: center;

  @include media-breakpoint-1400 {
      padding: 0 0 $space-double 0;
  }

  .sub-title {
    &:after {
      margin: auto;
      right: 0;
    }
  }

  h3 {
    background: rgba($ys-green, .8);
    @include boxshadow;
    padding: $space-half;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    z-index: 1;
    border-radius: 2px;
    transition: .8s;
  }

  .row {
    margin-top: $space;
  }

  .col-md-6 {
    padding-top: 40px;
    margin-bottom: $space-half;

    &:hover {

      h3 {
        -webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
      	-moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
      	box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
      }

      .choose-list {
        -webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
      	-moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
      	box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.4);
      }

    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }

  }

  .choose-list {
    height: 100%;
    padding: 65px $space-half $space $space-half;
    background: rgba($ys-blue, .02);
    @include boxshadow;
    text-align: left;
    z-index: -1;
    margin: 0;
    transition: .5s;

  }
}
