{% extends "base/base.twig" %}

{% block body %}
	{% include 'page-sections/site-wide/hero.twig' %}
	<section id="blog-posts" class="page-section">
		<div class="container-fluid">

					<div class="row">
						{% for article in posts %}
						<div class="col-md-6">
								{% include "page-sections/site-wide/post-content.twig" %}
						</div>
						{% endfor %}
					</div>

					<div id="pagination">
						{% if posts.pagination.prev %}
					        <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
					    {% endif %}
					    <ul class="pages">
					        {% for page in posts.pagination.pages %}
					            <li>
					                {% if page.link %}
					                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
					                {% else %}
					                    <span class="{{page.class}}">{{page.title}}</span>
					                {% endif %}
					            </li>
					        {% endfor %}
					    </ul>
					    {% if posts.pagination.next %}
					        <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
					    {% endif %}
					</div>

		</div>
	</section>
{% include 'page-sections/site-wide/callback-form.twig' %}
{% endblock %}
