{% extends "base/base.twig" %}

{% block body %}
	{% include 'page-sections/site-wide/hero.twig' %}
	<section id="client-persona-upper">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<h1>{{ post.title }}</h1>
					<p>{{ post.persona_description }}</p>
				</div>
				<div class="col">
					<div id="client-persona-image" style="background-image: url('{{ Image(post.persona_image)|resize(300) }}');">
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'page-sections/flexible-content/flexible-content.twig' %}
	{% include 'page-sections/site-wide/buckets.twig' %}
{% endblock %}