{% extends "base/base.twig" %}

{% block body %}
	{% include 'page-sections/site-wide/hero.twig' %}

	<section class="page-section team-member {{ custom_class }}">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-6">
					<div class="column-one">

						<p class="sub-title">Contact details</p>
						<h2>There are a number of ways you can get in touch with us:</h2>

						<div class="outer-details">
							<div class="contact-item phone">
								<p class="sub-title">Phone</p>
								<p><a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a></p>
							</div>

							<div class="contact-item email">
								<p class="sub-title">Email</p>
								<p><a href="mailto:{{ options.email_address }}">{{ options.email_address }}</a></p>
							</div>

								<div class="contact-item address">
									<p class="sub-title">Our office</p>
									<p>{{ options.office_address }}</p>
								</div>
						</div>


					</div>
				</div>

				<div class="col-md-6">
					<div class="column-two">

						<div class="inner-two">
							{% include 'page-sections/site-wide/contact-form.twig' %}
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
{% include 'page-sections/site-wide/newsletter-form.twig' %}
{% endblock %}
