{% extends "base/base.twig" %}

{% block body %}
	{% include 'page-sections/site-wide/hero.twig' %}
	{% include 'page-sections/site-wide/buckets.twig' %}
	{% include 'page-sections/flexible-content/flexible-content.twig' %}
	{{ get_testimonials('case-study') }}
	{% include 'page-sections/site-wide/services-section.twig' %}
	{% include 'page-sections/site-wide/portfolio-section.twig' %}
	{% include 'page-sections/site-wide/callback-form.twig' %}
	{% include 'page-sections/site-wide/posts-section.twig' %}
	{% include 'page-sections/site-wide/newsletter-form.twig' %}
{% endblock %}
