{% extends "base/base.twig" %}

{% block body %}
{% include 'page-sections/site-wide/hero.twig' %}
{% include 'page-sections//site-wide/portfolio-list.twig' %}
{{ get_testimonials('case-study') }}
{% include 'page-sections/site-wide/services-section.twig' %}
{% include 'page-sections/site-wide/callback-form.twig' %}
{% endblock %}
