{% extends "base/base.twig" %}

{% block body %}
	{% include 'page-sections/site-wide/hero.twig' %}

	<section class="page-section portfolio {{ custom_class }}">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-6">
					<div class="column-one">

						<div class="client-aside">
							<p class="sub-title">Client details</p>
							{% set client_details = post.get_field('client_details') %}
							<p><span class="title">Client name:</span> {{ client_details.client_name }}</p>
							<p><span class="title">Client URL:</span> <a target="blank" href="https://{{ client_details.client_url }}/">{{ client_details.client_url }}</a></p>
							<p><span class="title">Client Date:</span> {{ client_details.client_date }}</p>
						</div>

						<div class="client-aside">
							<p class="sub-title">Client logo</p>
							<img src="{{ Image(post.client_logo) }}" alt="client-logo"/>
						</div>

						<div class="client-aside">
							<p class="sub-title">Client colourway</p>
							{% set client_colourway = post.get_field('client_colourway') %}

							<div class="outer-colours">

								<div class="outer-block">
									<p class="title">Primary colour:</p>
									<div class="colour-block" style="background:{{ client_colourway.primary_colour }};">
									</div>
								</div>

									<div class="outer-block">
										<p class="title">Secondary colour:</p>
										<div class="colour-block" style="background:{{ client_colourway.secondary_colour }};"></div>
									</div>

									<div class="outer-block">
										<p class="title">Tertiary colour:</p>
										<div class="colour-block" style="background:{{ client_colourway.tertiary_colour }};">
										</div>
									</div>
							</div>

						</div>

					</div>
				</div>

				<div class="col-md-6">
					<div class="column-two">

						<div class="inner-two">
							<p class="sub-title">The story</p>
							{{ post.content }}
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

{% include 'page-sections/site-wide/portfolio-images.twig' %}
{% include 'page-sections/site-wide/callback-form.twig' %}
{% endblock %}
