{% extends "base/base.twig" %}

{% block body %}
	<!-- Hero -->
	<section class="hero">
			<div class="container-fluid">

				<div class="inner-hero">

					<div class="caption">
						<p class="sub-title">News article</p>
						<p class="heading">{{ post.title }}</p>
					</div>

					<div class="hero-image" style="background-image: url('{{ post.thumbnail.src }}')">
					</div>

				</div>


			</div>
	</section>

	<section id="single-article-section" class="page-section portfolio">
		<div class="container-fluid" id="content" tabindex="-1">
			<div class="row">

				<div class="col-md-6">
					<div class="column-one">
							{{ function('get_sidebar') }}
					</div>
				</div>

				<div class="col-md-6">

					<div class="column-two">

						<div class="inner-two">

							<article class="post.class" id="post-{{post.id}}">
								<span class="entry-header">
									<h1>{{ post.title }}</h1>
									<span class="posted-on"> <a href="/{{ post.post_date|date('Y') }}/{{ post.post_date|date('m') }}/" rel="bookmark"><time class="entry-date published" datetime="2018-11-29T09:09:44+00:00">{{ post.post_date|date('F') }} {{ post.post_date|date('d') }}, {{ post.post_date|date('Y') }}</time></a></span><span class="byline"> by <a href="{{ post.author.link }}">{{ post.author.name }}</a></span>
								</span>
								<div class="entry-content">
									{{ post.content }}
								</div>
							</article>

						</div>

					</div>

				</div>

			</div>
		</div>
	</section>

{% endblock %}
