{% extends "base/base.twig" %}

{% block body %}
	{% include 'page-sections/site-wide/hero.twig' %}

	<section class="page-section team-member {{ custom_class }}">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-6">
					<div class="column-one">
						<p class="sub-title">Meet {{ post.singular_name }}</p>
						<img src="{{ Image(post.image)|resize(350) }}" class="team-member-image">
						<h1>{{ post.information_header }}</h1>
						{{ post.get_field( 'snippet' ) }}
					</div>
				</div>

				<div class="col-md-6">
					<div class="column-two">

						<div class="inner-two">
							{% include 'page-sections/site-wide/spotlight.twig' %}
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>


	{% if post.profesional_text or post.personal_text %}
		<div class="band-medium band-offwhite">
			<div class="container">
				<div class="row">
					{% if post.profesional_text %}
						<div class="col-md-6">
							<h3 class="heading heading-medium">Professionally</h3>
							<div>
								{{ post.profesional_text }}
							</div>
						</div>
					{% endif %}
					{% if post.personal_text %}
						<div class="col-md-6 mt-4 mt-md-0">
							<h3 class="heading heading-medium">Personally</h3>
							<div>
								{{ post.personal_text }}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if post.sps_link or post.fca_register or post.other_links %}
		<div class="band-medium band-white">
			<div class="container">
				<h3 class="heading heading-medium">{{ singular }} awards and certificates</h3>
				<div class="team-member-links">
					{% if post.sps_link %}
						<div class="team-member-link">
							<a href="{{ post.sps_link }}">View {{ singular }} Statement of Professional Standing</a>
						</div>
					{% endif %}
					{% if post.fca_register %}
						<div class="team-member-link">
							<a href="{{ post.fca_register }}">View {{ singular }} FCA Register</a>
						</div>
					{% endif %}
					{% if post.other_links %}
						{% for link in post.other_links %}
							<div class="team-member-link">
								<a href="{{ link.link }}">View {{ singular }} {{ link.name }}</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}

{% include 'page-sections/site-wide/callback-form.twig' %}
{% endblock %}
