{% extends "base/base.twig" %}

{% block body %}
{% include 'page-sections/site-wide/hero.twig' %}
{% include 'page-sections/flexible-content/flexible-content.twig' %}
{% include 'page-sections/site-wide/why-choose-section.twig' %}
{{ get_testimonials('case-study') }}
{% include 'page-sections/site-wide/services-section.twig' %}
{% include 'page-sections/site-wide/callback-form.twig' %}
{% endblock %}
