{#
The following is code that is needed to create a Case Studies section.
The custom field rule will need to be chaged so that appears on the selected pages/pag-templates.
----------------------------------------------------------------- #}
{% if post.case_studes %}
	<section class="outer-case-studies">
		<ul>
		{% for case_study in post.get_field('case_studies') %}
			<li>
				<h2>{{ case_study.case_header }}</h2>
				{{case_study.case_content}}
				<a href="{{ case_study.case_link }}">Read more</a>
			</li>
		{% endfor %}
		</ul>
	</section>
{% endif %}