{#
Move "src/js/template-bank/custom-chart.js" to "src/js/theme"
-----------------------------------------------------------------

Uncomment "template-bank/social-proof.scss" in theme.scss
-----------------------------------------------------------------*/ #}


<section id="social-proof" class="band-medium">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>{{ options.social_proof_title }}</h2>
			</div>
		</div>

		<div class="row">

			{% if options.social_proof_item %}
				{% for index,item in options.get_field('social_proof_item') %}
					<div class="col">
						<div class="social-proof-item">
							<div class="chart-wrapper">
								<div class="chart-container" data-stat="{{ item.statistic }}" data-outof="{{ item.out_of}}">
									<canvas style="height: 200px !important; width: 200px !important;" id="socialChart-{{ index + 1 }}"></canvas>
								</div>
								<span class="number">0</span>
							</div>
							<h5><{{ item.text }}</h5>
						</div>
					</div>

					{% endfor %}
			{% endif %}

			</div>
		</div>
	</section>
