{#
The following is code that is needed to create the client personas section. You will need to create 2 files client-personas.php & client-personas.scss
-----------------------------------------------------------------

Uncomment "template-bank/client-personas.scss" in theme.scss
----------------------------------------------------------------- */ #}


<section id="client-personas">
	<div class="container">
		<div class="row">


			{% for page in getPostsFromParent(184) %}
				<div class="col">
					<a href="{{ page.link }}">
						<span class="persona-image" style="background-image: url('{{ Image(page.persona_image)|resize(450) }}')"></span>
					</a>
					<h3>{{ page.title }}</h3>
					<p>{{ page.persona_snippet }}</p>
					<a class="btn btn-primary" href="{{ page.link }}">Read more</a>
				</div>
			{% endfor %}

		</div>
	</div>
</section>
