<section class="page-section accordion-section band">
	<div class="container">
		<div class="row">
			<div class="col">
				{% if accordion_title %}
					<h3 class="heading headind-medium">{{ accordion_title }}</h3>
				{% endif %}

				{% if accordion_item %}
					<div id="accordion">
						{% for index,item in accordion_item %}
							<div class="card" id="c-{{index}}-card">
								<div class="card-header">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#c-{{index}}" aria-expanded="false" aria-controls="c-{{index}}">
										{{ item.accordion_title }}
									</button>
								</div>

								<div id="c-{{index}}" class="collapse" aria-labelledby="c-{{index}}" data-parent="#accordion">
									<div class="card-body">
										{{ item.accordion_content }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
  </section>
