<section class="columns page-section">
	<div class="container">
		<div class="row">
			{% if column_item %}
				{% for col in column_item %}
					<div class="col">
						<p class="sub-title">{{ sub_title }}</p>
						{{ col.content }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
