<section class="page-section text-image {{ custom_class }}">
	<div class="container-fluid">
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="image-column {{ (image_left) ? 'left' : '' }}" style="background-image: url('{{ image }}');">
				</div>
			</div>

			<div class="col-md-6">
				<div class="text-column">
					<p class="sub-title">{{ sub_title }}</p>
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</section>
