<section class="page-section two-thirds {{ custom_class }} band">
	<div class="container">
		<div class="row">
			<div class="col-md-{{ (larger_right) ? '4' : '8' }}">
				<div class="column-one">
					{{ content_left }}
				</div>
			</div>

			<div class="col-md-{{ (larger_right) ? '8' : '4' }}">
				<div class="column-two">
					{{ content_right }}
				</div>
			</div>
		</div>
	</div>
</section>
