<section id="buckets-section">
	<div class="container-fluid">
			<p class="sub-title">{{ post.bucket_sub_title }}</p>
			<h2>{{ post.bucket_section_title }}</h2>

		{# Static buckets #}
			<div class="row">
				{% if post.bucket_item %}
					{% for index,bucket in post.get_field('bucket_item') %}
						<div class="col-lg-4">
							<div class="bucket-item item-{{index + 1}}">
								<div class="bucket-image" style="background-image: url('{{ Image(bucket.image) }}')">
								</div>
								<div class="bucket-content">
									<span class="outer-icon"><img src="{{ Image(bucket.icon) }}" alt="bucket-icon" /></span>
									<h3>{{bucket.title}}</h3>
									<p>{{bucket.text}}</p>
									<a class="btn btn-secondary" href="{{bucket.link}}">{{bucket.button}}</a>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endif %}
			</div>
		</div>
	</section>
