<section id="callback-form">
	<div class="inner-bg" style="background-image: url('{{ Image( options.ruler_image) }}')"></div>

	<div class="container-fluid">
				<p class="sub-title">Get in touch</p>
				<h3>{{ options.callback_form.title }}</h3>
  			<p>{{ options.callback_form.text }}</p>

				{{ do_shortcode('[contact-form-7 id="160" title="Callback form"]') }}

	</div>

</section>
