<div class="outer-top-header">

	<div class="container-fluid">

		<a class="logo desktop-logo" href="{{ function('home_url') }}">
			<img src="{{ Image(options.logo)|resize(200) }}"/>
		</a>

		<div class="outer-header">

			<div class="top-right">

				<div class="tile green">
					<a href="mailto:{{ options.email_address }}">
						<i class="fas fa-calculator"></i>
					</a>
				</div>

				<div class="tile blue">
					<a href="mailto:{{ options.email_address }}">
						<i class="fas fa-clipboard-list"></i>
					</a>
				</div>

				<div class="tile">
					<a href="mailto:{{ options.email_address }}">
						<i class="fas fa-envelope"></i>
					</a>
				</div>

				<div class="tile">
					<a href="tel:{{ options.phone_number}}">
						<i class="fas fa-phone"></i>
					</a>
				</div>


			</div>

			<div class="outer-nav">
				{% if main_menu %}
					<nav id="navigation" class="desktop-nav">
						<ul class="{{main_menu.class}} desktop-menu">
							{% for item in main_menu.items %}
								<li class="{{ item.class }}">
									<a href="{{ item.url }}">{{item.name}}</a>
									{% if item.children %}
										<ul class="dropdown-menu">
											{% for child in item.children %}
												<li class="{{ child.class }}">
													<a href="{{ child.url }}">{{child.name}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</nav>
				{% endif %}

			</div>

		</div>


	</div>

</div>
