<section class="hero">
		<div class="container-fluid">

			<div class="inner-hero">

				<div class="caption">
					<p class="sub-title">{{ post.hero_subtext }}</p>
					<p class="heading">{{ post.hero_text }}</p>
					{% if post.hero_link_text %}
						<a class="btn btn-primary" href="{{ post.hero_link }}">{{ post.hero_link_text }}</a>
					{% endif %}
				</div>

				<div class="hero-image" style="background-image: url('{{ Image(post.hero_image) }}')">
				</div>

			</div>


		</div>
</section>
