{#
The following is code that is needed to create a Like/Dislike section for an adviser.
The custom field rule will need to be chaged so that appears on either the single adviser page or the page template if there are multiple advsiers
----------------------------------------------------------------- */ #}


<h2>{{ post.likes_dislikes_header }}</h2>

<h4>Likes</h4>
<div class="inner-list">
	{% if post.likes_list %}
		<ul class="like-list">
			{% for like in post.get_field('likes_list') %}
				<li>{{ like.likes_item }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

<div class="col-md-6">
<h4>Dislikes</h4>
<div class="inner-list">
	{% if post.dislikes_list %}
		<ul class="dislike-list">
			{% for dislike in post.get_field('dislikes_list') %}
				<li>{{ dislike.dislikes_item }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
</div>
