<div class="mobile-top-bar">

	<div class="inner-top">

		<a class="menu-toggle" href="#mobile-menu"><i class="fa fa-bars"></i></a>
			<nav id="mobile-menu">
				<div id="navbarNavDropdown" class="navbar-collapse">
					{% if main_menu %}
						<ul id="main-menu-mobile" class="{{main_menu.class}} navbar-nav">
							{% for item in main_menu.items %}
								<li class="{{ item.class }}">
									<a href="{{ item.url }}">{{item.name}}</a>
									{% if item.children %}
										<ul class="dropdown-menu">
											{% for child in item.children %}
												<li class="{{ child.class }}">
													<a href="{{ child.url }}">{{child.name}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</nav>

			<div class="outer-contact-details">

				<a href="tel:{{ options.phone_number }}"><i class="fas fa-phone"></i></a>

				<a href="mailto:{{ options.email_address }}"><i class="fas fa-envelope"></i></a>

			</div>



	</div>

	<div class="outer-logo">

		<a class="logo" href="{{ function('home_url') }}">
			<img src="{{ Image(options.logo)|resize(200) }}"/>
		</a>

	</div>

</div>
