<section id="newsletter-form" class="band-medium band-blue">
	<div class="inner-bg" style="background-image: url('{{ Image( options.ruler_image) }}')"></div>
	<div class="container-fluid">
				<p class="sub-title">Stay in touch</p>
				<h3>{{ options.newsletter_form.title }}</h3>
				<p>{{ options.newsletter_form.text }}</p>

				{{ do_shortcode('[contact-form-7 id="161" title="Newsletter form"]') }}
	</div>
</section>
