<section class="portfolio-section">
  <div class="container-fluid">
    <p class="sub-title">Portfolio</p>
    <h2>Businesses we have helped</h2>
    {% if clients %}
    <div class="portfolio-slider">
      {% for client in clients %}
        <div class="portfolio-item">
          <img class="client-logo" src="{{ Image(client.client_logo) }}" alt="client-logo"/>

          <div class="item-images">
            {% if client.client_images %}
              <ul class="image-list">
                {% for client_imgs in client.get_field('client_images') %}
                <li>
                  <img src="{{Image(client_imgs.image)}}" alt="portfolio-image"/>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    </div>
    {% endif %}

    <a class="btn btn-primary" href="{{ function('home_url') }}/portfolio">View our portfolio</a>

  </div>
</section>
