<section class="client-images">
  <div class="container-fluid">
    {% if post.client_images %}
      <ul class="like-list">
        {% for client in post.get_field('client_images') %}
        <li>
          <img src="{{Image(client.image)}}" alt="portfolio-image"/>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>
