<article class="{{ article.class }}" id="post-{{ article.id }}">

	<div class="article-image" style="background-image: url('{{ Image(article.thumbnail) }}')" >
		<a href="{{ article.link }}">
		</a>
	</div>

	<div class="article-content">

		<img src="{{ Image( article.author_image)}}" alt="author-image"/>
		<h2>{{ article.title }}</h2>

		<span class="meta">
			<span class="posted-on">
				<a href="/{{ article.post_date|date('Y') }}/{{ article.post_date|date('m') }}/" rel="bookmark">
					<time class="entry-date published" datetime="2018-11-29T09:09:44+00:00">
						{{ article.post_date|date('F') }} {{ article.post_date|date('d') }}, {{ article.post_date|date('Y') }}
					</time>
				</a>
			</span>
			<span class="byline"> by <a href="{{ article.author.link }}">{{ article.author.name }}</a></span>
		</span>

		<p class="excerpt">{{ article.excerpt_text }}</p>
		<a class="btn btn-primary" href="{{ article.link }}">Read more</a>
	</div>

</article>
