<section class="blog-section">
	<div class="container-fluid">

		<div class="blog-header">
			<p class="sub-title">News articles</p>
			<h2>Our latest blog posts</h2>
		</div>

		<div class="outer-posts">
			{% for article in posts %}
					<article class="{{ article.class }}" id="post-{{ article.id }}">

						<div class="row">

							<div class="col-md-6">

								<div class="article-image" style="background-image: url('{{ Image(article.thumbnail)}}')">

								</div>

							</div>

							<div class="col-md-6">

								<div class="article-content">

									<img src="{{ Image( article.author_image)}}" alt="author-image"/>
									<a href="{{ article.link }}" rel="bookmark">

									<h3>{{ article.title }}</h3>
									<p class="excerpt">{{ article.excerpt_text }}</p>
									<span class="btn btn-primary">Read more</span>
									</a>

								</div>

							</div>

						</div>

					</article>
			{% endfor %}
		</div>


</div>
</section>
