<section class="services">

  <div class="inner-bg" style="background-image: url('{{ Image( options.ruler_image) }}')"></div>

  <div class="container-fluid">

      <p class="sub-title">{{ options.services_header }}</p>
      <h2>{{ options.services_sub_title }}</h2>

      {% if options.services_list %}

      <ul>

        {% for index,item in options.services_list %}
            <li>
              <a href="{{ item.services_link }}">

              <span class="outer-image">
                <img src="{{Image(item.icon)}}" alt="service-icon"/>
              </span>

              <span class="outer-text">
                <h4>{{ item.header }}</h4>
                <p>{{item.sub_header}}</p>
              </span>

              </a>
            </li>
          {% endfor %}

      </ul>

      {% endif %}

  </div>

</section>
