<div class="spotlight">
		<p class="sub-title">Get to know {{ post.singular_name }}</p>
		<h2>{{ post.singular_name }} in the spotlight</h2>
		{% set answer = post.get_field('spotlight') %}
		<div class="inner-spotlight">
				<h5>Full English or Continental?</h5>
				<p>{{ answer.full_english }}</p>
		</div>

		<div class="inner-spotlight">
			<h5>Red or White?</h5>
			<p>{{ answer.red_or_white }}</p>
		</div>

		<div class="inner-spotlight">
			<h5>Summer or Winter?</h5>
			<p>{{ answer.summer_or_winter }}</p>
		</div>

		<div class="inner-spotlight">
			<h5>Holiday Abroad or 'Staycation'?</h5>
			<p>{{ answer.holiday }}</p>
		</div>

		<div class="inner-spotlight">
			<h5>Fiction or Non-Fiction</h5>
			<p>{{ answer.fiction_or_non }}</p>
		</div>

</div>
