<section class="tabbed-section">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-6">

        <div class="main-section">

            <div class="tab">

              <p class="sub-title">{{post.included_services_subtitle}}</p>
              <h2>{{post.included_services_header}}</h2>

              <div class="outer-tab">

                {% if post.item_list %}
                		{% for item_list in post.get_field('item_list') %}
                			<div class="tablinks" id="defaultOpen" onclick="openTab(event, '{{item_list.item_header}}')">

                        <img src="{{item_list.item_icon}}" alt="item icon"/>

                			</div>
                		{% endfor %}
                {% endif %}

              </div>

            </div>

          </div>

      </div>

      <div class="col-md-6">

        <div class="content-section">

          {% if post.item_list %}
              {% for item_list in post.get_field('item_list') %}

              <div id="{{item_list.item_header}}" class="tabcontent">
                  <p class="sub-title">Service</p>
                  <h3>{{item_list.item_header}}</h3>
                  <p>{{item_list.item_content}}</p>
              </div>
              {% endfor %}
          {% endif %}

        </div>

      </div>


    </div>

  </div>

</section>
