<section class="about-team" id="team-members">
  <div class="container-fluid">
      <div class="row">
        {% if team_members %}
          {% for member in team_members %}
            <div class="col-sm-6 col-lg-3">
              <div class="team-member-wrapper">
                <div class="team-member-image">
                  <a href="{{ member.link }}">
                  <img src="{{ Image(member.image)|resize(300) }}">
                  </a>
                </div>
                <div class="team-member-content">

                  <div class="inner-content">
                    <a href="{{ member.link }}">
                    <p class="sub-title">{{ member.role }}</p>
                    <h3>{{ member.title }}</h3>
                    <span class="btn btn-primary">Read More</span>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
  </div>
</section>
