<section id="testimonial-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="testimonial-aside">
					<div class="inner-aside">
						<p class="sub-title">{{ options.testimonial_subtitle }}</p>
						<h2>{{ options.testimonial_title }}</h2>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="testimonial-slider">
					{% if options.testimonial_item %}
						{% set i = 1 %}

						{% for testimonial in options.testimonial_item %}

							{% if matchTestimonialAttr(testimonial.attribution, attr) %}

								<div class="testimonial-item" data-item="{{ i }}">

									<div class="testimonial-quote">
										<p class="quote">{{ testimonial.quote }}</p>
									</div>

									<div class="testimonial-client">

										<p class="author">{{ testimonial.author }}</p>
										<p class="job">{{ testimonial.job_title }}</p>
										{{ testimonialClientSince(testimonial.author, testimonial.a_client_since) }}

									</div>

								</div>
								{% set i = i + 1 %}
							{% endif %}

						{% endfor %}
					{% endif %}
				</div>
			</div>

	</div>
</div>
</section>
