<section class="why-choose">

	<div class="container-fluid">
		<p class="sub-title">Why choose us</p>
		<h2>{{ post.why_choose_header }}</h2>

			{% if post.why_choose_list %}
			<div class="row">
			{% for index,why in post.get_field('why_choose_list') %}
				<div class="col-md-6 col-lg-3">

					<h3>{{ why.list_header }}</h3>

					<div class="choose-list">
							{{ why.list_content }}
					</div>

				</div>
			{% endfor %}
			</div>
			{% endif %}


	</div>

</section>
