{% set className = 'slider' %}
{% if post.static_image %}
		{% if post.static_text %}
			{% set className = 'static' %}
		{% else %}
			{% set className = 'static-image' %}
		{% endif %}
{% elseif post.static_text %}
	{% set className = 'static-text' %}
{% endif %}

<section id="homepage-slider-section" class="{{ className }}">

	<div id="homepage-slider" style="background-image: url('{{ (post.static_image) ? (Image(post.slider_background)|resize(1920)) : '' }}')">
		{% if post.slider_item %}
			{# Repeater fields are funky, so we get_field it to ensure they work correctly #}
			{% for slide in post.get_field('slider_item') %}
				<div class="slider-item" style="background-image: url('{{ (post.static_image) ? '' : (Image(slide.background)|resize(1920)) }}')">

					{% if not post.static_text %}
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="caption">
										{{ slide.caption }}
										<a class="btn btn-secondary" href="{{ slide.cta }}">{{ slide.cta_text }}</a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}

				</div>
			{% endfor %}
		{% else %}
			{% if post.static_text %}
				<div id="static-caption">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="caption">
									{{ post.static_caption.caption}}
									<a class="btn btn-primary" href="{{ post.static_caption.cta}}">{{ post.static_caption.cta_text}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
</section>
