#client-personas{
	padding: $space 0; 
	text-align: center;

	h3{
		margin: 0 0 $space-half;
	}

	p{
		padding: 0 15%;
	}
}

.persona-image {
	width: 100%;
	height: 100%;
	max-height: 150px;
	max-width: 150px;
	border-radius: 100%;
	display: inline-block;
	@include default-background-image;
	margin: 0 0 $space-half;
}


#client-persona-image { 
	height: 100%; 
	@include default-background-image;
}
