#social-proof {
	text-align: center;

	.social-proof-item{

		h5{
			line-height: normal;  
			margin: $space-half 0 0;
		}
	}

	.chart-wrapper{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.number{
			font-size: fontSize(medium);
        	font-weight: 500;

        	&:after {
        		content: '%';
        	}
		}
	}


}