<div id="wrapper-footer">
	<div class="container-fluid">
		<footer class="site-footer" id="colophon">
			<div class="row">
				<div class="col-lg-6">
					{{ options.regulatory_text }}

					<div id="yardstick-logo">
						<a href="http://www.theyardstickagency.co.uk/" target="_blank" class="logo-y">
							A <img src="{{ function('get_template_directory_uri') }}/assets/yardstick-y.png"> Production
						</a>
					</div>
				</div>

				<div class="col-lg-6 details">

					<div class="row">

						<div class="col-sm-6">
							<p class="address">{{ options.office_address }}</p>
						</div>

						<div class="col-sm-6">
							<p class="phone"><a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a></p>
							<p class="email"><a href="mailto:{{ options.email_address }}">{{ options.email_address }}</a></p>
						</div>

					</div>

					<div class="col-12 social">
								<p><a target="blank" href=""><i class="fab fa-facebook-square"></i></a><a target="blank" href=""><i class="fab fa-twitter-square"></i></a><a target="blank" href=""><i class="fab fa-linkedin"></i></a></p>
					</div>

				</div>
			</div>
	</div><!-- container end -->
</div><!-- wrapper end -->

</div><!-- #page we need this extra closing tag here -->

{{ function('wp_footer') }}

</body>

</html>
