<!DOCTYPE html>
<html {{ function('language_attributes') }}>
<head>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="{{ site.name }} - {{ site.description }}">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{{ site.pingback_url }}">
	<link rel="stylesheet" href="https://use.typekit.net/jba8hwg.css">
	{{ function('wp_head') }}
</head>

<body id="{% if function('is_page') %}{{to_hyphenated(get_the_title())}}{% endif %}" {{ function('body_class') }}>

	<div class="site" id="page">

		<!-- ******************* The Navbar Area ******************* -->
		<div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
			<header>

				{% include 'page-sections/site-wide/mobile-top-bar.twig' %}
				{% include 'page-sections/site-wide/desktop-top-bar.twig' %}


		</header>
		</div><!-- #wrapper-navbar end -->

		<div id="main-content-inner">
