//Default slick controls
@mixin default-slick-controls {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	background: none;
	border: none;
	top: 50%;
	transform: translateY(-50%);

	i {font-size: 24px;}
	&.prev {left: -60px;}
	&.next {right: -60px;}
}

//Default slick dots
@mixin default-slick-dots {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	display: flex;
	justify-content: space-between;

	li {
		position: relative;
		opacity: .5;
		margin: 0 5px;

		&.slick-active, &:hover {
			opacity: 1;
		}

		button {
			width: 10px;
			height: 10px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: none;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 10px;
				height: 10px;
				background: $black;
				border-radius: 100%;
			}
		}
	}
}

//Default slick lines
@mixin default-slick-lines {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	display: flex;
	justify-content: space-between;

	li {
		position: relative;
		opacity: .5;
		margin: 0 7.5px;

		&.slick-active, &:hover {
			opacity: 1;
		}

		button {
			width: 10px;
			height: 10px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: none;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 4px;
				background: $black;
			}
		}
	}
}
