//Default background image css styles
@mixin default-background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* Because sometimes IE is an arse - Use this when doing IE styling, in case Edge updates and IE styling is still used, but Edge no longer needs it - Mixin will then need updating */
@mixin ieOnly(){
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	@content;
	}
}

@mixin boxshadow {
	-webkit-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.2);
}

@mixin media-breakpoint-1400 {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin media-breakpoint-1600 {
  @media (min-width: 1600px) {
    @content;
  }
}
