//Font Variables
$display-font: 'proxima-nova', sans-serif;
$body-font: 'proxima-nova', sans-serif;

//Color variables
$primary-color: #23313d;
$primary-color-hover: #19232b;

$secondary-color: #de485b;
$tertiary-color: #91cbb3;

//Yardstick
$ys-blue: #23313d;
$ys-red: #de485b;
$ys-green: #91cbb3;


///////////////////////////////////
$default-border: 10px;

/* Default spacings for elements */
$space: 50px;
$space-half: $space / 2;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;

/* Used to create band colors */
$colours: (
	primary: $primary-color,
	secondary: $secondary-color,
	white: $white,
	offwhite: darken($white, 5%),
	blue: $ys-blue,
	red: $ys-red
);

/* Used to create band sizes */
$sizes: (
	small: $space-half,
	null: $space,
	medium: $space-double,
	large: $space-triple,
	larger: $space-quadruple
);

/* Used to create header sizes */
$font-sizes: (
	small:14px,
	body:16px,
	medium:24px,
	large: 28px,
	larger:32px,
	huge:38px
);
