//All blog styles

.blog-section {
	padding: $space 0;

	@include media-breakpoint-up(md) {
		width: 100%;
		float: left;
	}

	.blog-header {
		padding-left: $space-half;
		margin-bottom: $space;
	}

	.outer-posts {
		display: block;
		width: 100%;
		float: left;
	}

	article {

		.excerpt {
			display: none;
		}

		&:first-of-type {
			.excerpt {
				display: block;
			}
		}

		@include media-breakpoint-up(md) {
			width: 35%;
			float: right;

			&:nth-of-type(2n) {
				margin-top: 0;
			}

			&:first-of-type {
				width: 60%;
				float: left;

				.article-content {

					@include media-breakpoint-up(md) {
						margin: $space-double 0;
						width: 135%;
						margin-left: -35%;

					}
				}
			}
		}
	}

	.col-md-6 {
		padding: 0;

		a {
			text-decoration: none;
			color: $ys-blue;
		}
	}

	.article-image {
		height: 200px;
		width: 100%;
		background-position: center;
		background-size: cover;

		@include media-breakpoint-up(md) {
			height: 100%;

		}
	}

	.article-content {
		padding: $space $space-half;
		background: #fff;
		width: 90%;
		margin: -50px auto 0 auto;
		@include boxshadow;
		position: relative;

		img {
			max-width: 100px;
			margin-top: -125px;
			border-radius: 2px;
			border: 1px solid rgba($ys-blue, .5);
			@include boxshadow;

			@include media-breakpoint-up(md) {
				position: absolute;
				top: 50%;
				left: -50px;
				transform: translateY(-50%);
				margin-top: 0;
			}
		}

		.btn {
			margin-top: $space-half;
		}

		@include media-breakpoint-up(md) {
			padding: $space $space-half $space 70px;
			margin: $space-half 0;
			width: 135%;
			margin-left: -35%;

		}
	}
}

#single-article-section {

	#blog-sidebar {

		article {

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.article-image {
			width: 90%;
			max-width: 300px;
			margin: 0 auto;
			height: 150px;
			background-position: center;
			background-size: cover;
			@include boxshadow;

			a {
				display: block;
				height: 100%;
				width: 100%;
			}
		}

		.article-content {
			padding: $space $space-half $space-half $space-half;
			background: rgba($ys-green, .8);
			margin: -50px auto 0 auto;
			@include boxshadow;
			text-align: center;
			position: relative;

			a {
				color: $ys-blue;
				text-decoration: none;
			}

			.excerpt {
				margin-top: $space-half;
			}

			img {
				width: 60px;
				position: absolute;
				top: -30px;
				left: 0;
				right: 0;
				margin: auto;
				border-radius: 2px;
				border: 1px solid rgba($ys-blue, .5);
				@include boxshadow;

			}

			.btn {
				margin-top: $space-half;
			}
		}

	}

	article {
		.entry-header {
			margin-bottom: $space-half;
			display: block;
			overflow: hidden;

			a {
				color: #fff;
				transition: .6s;
				text-decoration: none;

				&:hover {
					color: $ys-blue;
				}
			}
		}
	}

}

#blog-posts {
	//Pagination

	article {
		margin-bottom: $space;
	}

	.article-image {
		width: 90%;
		max-width: 500px;
		margin: 0 auto;
		height: 250px;
		background-position: center;
		background-size: cover;
		@include boxshadow;
	}

	.article-content {
		padding: $space-double $space-half $space $space-half;
		background: #fff;
		margin: -50px auto 0 auto;
		@include boxshadow;
		text-align: center;
		position: relative;

		.excerpt {
			margin-top: $space-half;
		}

		img {
			width: 100px;
			position: absolute;
			top: -50px;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 2px;
			border: 1px solid rgba($ys-blue, .5);
			@include boxshadow;

		}

		.btn {
			margin-top: $space-half;
		}
	}


	#pagination {
		span, a {
			font-weight: 500;
			margin: 0 7.5px 0 0;
		}

		span {
			color: colour(primary);
		}

		a {
			color: colour(secondary);
		}

		.pages{
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;

			li{
				display: inline-block;
			}
		}
	}
}//#post-wrapper

//Sidebar

//Recent posts
#recent-posts {
	margin: 0 0 $space;

	ul {
		padding: 0 0 0 $space;

		li {
			margin: 0 0 $space-half;

			h4 {
				margin: 0;
				font-size: fontSize(medium);
			}
		}
	}
}//#recent-posts

#more-posts {
	margin-bottom: $space;

	img {
		margin: 0 0 $space-half;
	}

	h2 {
		font-size: fontSize(medium);
		margin: 0 0 $space-half;
	}

	.categories {
		display: block;
		margin: $space-half 0 0;
	}

	.excerpt {
		display: none;
	}

	.btn {
		margin: $space-half 0 0;
		font-size: fontSize(small);
	}

}//#more-posts


//Posts
#post-wrapper, #author-posts {
	padding: 0 $space 0 0;

	img {
		margin: 0 0 $space;
	}

	h2 {
		font-size: fontSize(larger);
		margin: 0 0 $space-half;
	}

	.categories {
		display: block;
		margin: $space-half 0;
	}

	.btn {
		font-size: fontSize(body);
		margin-top: $space-half;
	}

	//<768px
	@include media-breakpoint-down(sm) {
		padding: 0 0 $space;
	}//<768px

}//#post-wrapper, #author-posts

//Author
#author-section {
	padding: $space 0;
}

#author-posts {
	padding: 0;

	.excerpt, .byline {
		display: none;
	}

	.categories {
		margin: $space-half 0 0;
	}

	.btn {
		margin: $space-half 0 0;
	}

	//Carousel control styles [See src/js/theme/bucket-slider.js to change control HTML]
	button.slick-arrow {
		@include default-slick-controls;
	}

}//#buckets-carousel
