//Contact page styles

#contact {
	.team-member {
		.column-one {
			height: auto;
		}

		.column-two {
			.inner-two {
				@include media-breakpoint-up(md) {
					margin: $space 0 0 0
				}

				@include media-breakpoint-1400 {
						margin: $space-double 0 0 0
				}
			}
		}
	}
}

.outer-details {
	margin-top: $space;
}

.contact-item {
	margin-bottom: $space-half;

	p {
		margin-top: 10px;

		&.sub-title {
			margin-top: 0;
		}

		a {
			text-decoration: none;
			color: $ys-blue;
			font-weight: 400;

			&:hover {
				color: $ys-red;
			}
		}
	}

}
