body {
	font-family: $body-font;
	font-size: fontSize(body);
	letter-spacing: 0.02em;
	color: $ys-blue;
}

//Headers
h1 {
	font-size: fontSize(huge);
}
h2 {
	font-size: fontSize(larger);
}
h3 {
	font-size: fontSize(large);
}
h4 {
	font-size: fontSize(medium);
}
h5 {
	font-size: fontSize(body);
}

h1, h2, h3, h4, h5,.heading {
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.1em;

	+{
		h1,h2,h3,h4,h4,h6,p,strong,ul,ol,em,div,a,.heading,article{
			margin-top: $space-half;
		}
	}
	&>a {
		color: colour(secondary);

		&:hover, &:focus {
			color: colour(secondary);
			text-decoration: underline;
		}
	}
}

//Paragraphs
p,ul,ol,article{
	margin: 0;

	+{
		h1,h2,h3,h4,h4,h6,p,strong,ul,ol,em,div,a,article{
			margin-top: $space-half;
		}
	}

}

//anchor tags
p, span, li {
	a {
		color: colour(secondary);
		font-weight: 500;

		&:hover, &:focus {
			color: colour(secondary);
			text-decoration: underline;
		}
	}
}

.heading {
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 600;
}

section {
	clear: both;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.sub-title {
	font-size: .8em;
	font-weight: 600;
	padding-bottom: 5px;
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 50px;
		background: $ys-green;
	}
}

.container-fluid {
	max-width: 1600px;
	padding: 0;
	position: relative;

}

.inner-bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: left;
	background-size: contain;
	background-repeat: repeat;
	opacity: .1;
	z-index: -1;

}


#main-content-inner {
	padding: 0;

	  @include media-breakpoint-up(lg) {

			&:before {
				content: '';
				height: 130px;
				display: block;
			}

		}

}

@media screen and (max-width: 600px){
	#wpadminbar{
		position: fixed;
	}
}

//
