/* Create a band for each colour */
@each $colour, $value in $colours {
	.band-#{$colour} {
		background: #{$value};
	}
}

/* Create a band for each size */
@each $size, $value in $sizes {
	@if($size == null or $size == default) {
		.band {
			padding: #{$value} 0;
		}
	} @else {
		.band-#{$size} {
			padding: #{$value} 0;
		}
	}
}