//Define default buttons
button, .btn {
	text-decoration: none;
	transition: .3s;
	padding: 15px 40px;
	line-height: 1em;
	border-radius: 0;
	font-size: fontSize(body);
	background: rgba($white,.1);
	font-weight: 600;
	font-size: .8em;
	text-transform: uppercase;

	&:last-of-type{
		margin-right: 0;
	}
		// Define the 1) button name, 2) text/border color & 3) background color
	$btnColors : primary  $ys-blue $ys-green,
							 secondary $ys-blue $white;

	// Loop through colours above and create classes
	@each $colorOption in $btnColors {
		&.btn-#{nth($colorOption, 1)} {
			color: nth($colorOption,2);
			border: 1px solid nth($colorOption,3);
			&:hover {
				color: nth($colorOption,2);
				border: 1px solid nth($colorOption,2);
				background: rgba($white,.4);
			}
		}
	}
}
