.fakebox{
	display: grid;
	display: -ms-grid;
	/* 
	Template - Checkbox | Space | Label
	- You could use grid-gap or padding here, but this way IE sees it the same
	*/
	grid-template-columns: 20px $space-half 1fr;
	-ms-grid-columns: 20px $space-half 1fr;
	cursor: pointer;

	[type="checkbox"]{
		display: none;
	}

	.checkbox{
		grid-column: 1;
		-ms-grid-column: 1;
		height: 20px;
		border: 1px solid colour(white);
		color: colour(primary);
		transition: 0.2s;
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
		
		> *{
			display: none;
		}
	}

	.label{
		grid-column: 3;
		-ms-grid-column: 3;
		align-items: center;
	}

	[type="checkbox"]:checked ~ {
		/* What happens when the checkbox is active */
		.checkbox{
			background: colour(white);
			> *{
				display: block;
			}
		}
	}
}