/* Create a heading for each colour */
@each $colour, $value in $colours {
	.heading-#{$colour} {
		color: #{$value};
	}
}

/* Create a heading for each font size */
@each $size, $value in $font-sizes {
	.heading-#{$size} {
		font-size: #{$value};
	}
}

.heading{
	line-height: 1;
	margin: 0;
}

.heading-centre{
	text-align: center;
}

.heading-bold{
	font-weight: 800;
}